

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    #container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: rebeccapurple;
        background-color: #837928;
        width: 100%;
    }    
}



p {
    height: 20vh;
    width: 100%;
    border:1px solid black;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    color: midnightblue;
    
}



@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    #container2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: royalblue;
        background-color: #782334; 
        width: 100%;

    }
}

