* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 300px 1rf;
    grid-template-rows: 60px 1rf 60px;
    height: 100vh;
}

header {
    background-color: mediumpurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 60px;
    margin-bottom: 8px;
    grid-column: 1/-1;
}

.icone {
    width: 30px;
    margin: 0 8px 8px 0;
}

.icone-e-texto {
    display: flex;
    align-items: center;
}

nav {
    background-color: #993399;
    padding: 8px;

}

.video-um {
    width: 200px;
}

.video-dois {
    width: 200px;
}

.video-tres {
    width: 200px;
}

.video-quatro {
    width: 200px;
}

.video-cinco {
    width: 200px;
}

.video-seis {
    width: 200px;
}

.video-sete {
    width: 200px;
}

.video-oito {
    width: 200px;
}

.card-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px darkgrey;
    text-align: center;
    padding: 8px;

}

.botao-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 8px;
    column-gap: 8px;
    margin: 8px;
}


footer {
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    grid-column: 1/-1;


}